:root {
    --main-green: green;
    --text-color: black;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Roboto", sans-serif;
    background-color: white;
    color: black;
}
header {
    background: var(--main-green);
    color: white;
    text-align: center;
    padding: 1rem;
    border-bottom: 8px solid black;
}
header h1 {
    font-size: 2rem;
}
header h1::after {
    content: " (NIG)";
}
.hero::after {
    content: "Explore Nigeria 🇳🇬";
    position: absolute;
    bottom: 10px;
    left: 10px;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
    border-radius: 5px;
}
.hero {
    position: relative;
}
.hero img {
    width: 100%;
    display: block;
}
.data ,
.weather {
    margin: 0 auto;
    text-align: center;
    color: var(--text-color);
    padding: 1rem;
    background: rgba(255, 255, 255, 0.85);
}
.data h2,
.weather h2 {
    margin-top: 1rem;
}

.data p,
.weather p {
    margin: .3rem 0;
    font-size: .9rem;
}

footer {
    background-color: var(--main-green);
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: 1rem;
}
#lastModified {
    font-size: 0.8rem;
    margin-top: 0.3rem;
    color: white;
}