* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    max-width: 600px;
    margin: 0 auto;
    background-color: white;
}

/* Header */
header {
    background-color: black;
    color: gold;
    text-align: center;
    padding: 1rem;
}

header h1 {
    font-size: 2rem;
}

/* Main Content */
main {
    background-color: gold;
    padding: 2rem;
    text-align: center;
    min-height: 300px;
}

main h2 {
    color: black;
    margin-bottom: 1rem;
}

main p {
    color: black;
    font-size: 1.1rem;
    margin-bottom: 1rem;
}

#reviewCount {
    font-size: 2rem;
    font-weight: bold;
    color: black;
}

/* Footer */
footer {
    background-color: black;
    color: gold;
    text-align: center;
    padding: 1rem;
}

footer p {
    margin-bottom: .3rem;
}